
{% extends "base.html" %}
{% block content %}

<h1>Uusi elokuva</h1>
  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% if muokkaus %}
<form method="post" action="{{base_path}}/elokuva/{{muokkaus.id}}/muokkaus">
    <div class="form-group">
        <label>Nimi</label>
        <input class="form-control" value="{{muokkaus.nimi}}" type="text" name="nimi">
    </div>

    <div class="form-group">
        <label>Kirjoita selostus elokuvasta</label>
        <textarea class="form-control" rows="5" name="kuvaus">{{muokkaus.kuvaus}}</textarea>
    </div>
    <div class="checkbox">
        <h1> VALITSE AIHE </h1>
        <label>
            <input type="checkbox" name="tyyli_id" value="Kauhu">
            kauhu
        </label>
        <label>
            <input type="checkbox" name="tyyli_id" value="Komedia">
            komedia
        </label>
        <label>
            <input type="checkbox" name="tyyli_id" value="Draama" >
            draama
        </label>
        <label>
            <input type="checkbox" name="tyyli_id" value="Sota">
            sota
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää elokuva</button>
    </div>
</form>
  
{% else %}
<form method="post" action="{{base_path}}/">
    <div class="form-group">
        <label>Nimi</label>
        <input class="form-control" value="" type="text" name="nimi">
    </div>

    <div class="form-group">
        <label>Kirjoita selostus elokuvasta</label>
        <textarea class="form-control" rows="5" name="kuvaus"></textarea>
    </div>
    <div class="checkbox">
        <h1> VALITSE AIHE </h1>
        <label>
            <input type="checkbox" name="tyyli_id" value="Kauhu">
            kauhu
        </label>
        <label>
            <input type="checkbox" name="tyyli_id" value="Komedia">
            komedia
        </label>
        <label>
            <input type="checkbox" name="tyyli_id" value="Draama">
            draama
        </label>
        <label>
            <input type="checkbox" name="tyyli_id" value="Sota">
            sota
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää elokuva</button>
    </div>
</form>
  {% endif %}
  
{% endblock %}
