
{% extends "base.html" %}
{% block content %}
<div class="container" align="center">
    <div class="row" style="width:50%">

        <h2>{{elokuva.nimi}}</h2>
        <p> *arvostelujen keskiarvo* <p>
        
        <p>{{elokuva.kuvaus}}</p>
        <p> *näyttelijät* </p>
        <p> *linkki arvosteluihin * </p>
        <form method="post" action="{{base_path}}/elokuva/{{elokuva.id}}/destroy">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Poista elokuva</button>
            </form>  
        <a class="btn btn-default" href="{{base_path}}/elokuva/{{elokuva.id}}/muokkaus">Muokkaa</a>
                    </div>
    {% endblock %}