
{% extends "base.html" %}
{% block content %}

<h1>Uusi elokuva</h1>

<form method="post" action="{{base_path}}/">
    <div class="form-group">
        <label>Nimi</label>
        <input class="form-control" value="" type="text" name="nimi">
    </div>
    <div class="form-group">
        <label>Näyttelijät</label>
        <textarea class="form-control">TODO keksi miten listaat näyttelijät
        </textarea>
    </div>
    <div class="form-group">
        <label>Kirjoita selostus elokuvasta</label>
        <textarea class="form-control" rows="5" name="kuvaus">
        </textarea>
    </div>
    <div class="checkbox">
        <p> AIHE </p>
        <label>
            <input type="checkbox">
            kauhu
        </label>
        <label>
            <input type="checkbox">
            komedia
        </label>
        <label>
            <input type="checkbox">
            draama
        </label>
        <label>
            <input type="checkbox">
            sota
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää elokuva</button>
    </div>
</form>
{% endblock %}
