
{% extends "base.html" %}
{% block content %}
<div class="container" align="center">
    <div class="row" style="width:50%">

        <h1>{{elokuva.nimi}}</h1>

        <p>{{elokuva.kuvaus}}</p>
        <p> Aihe: {{elokuva.tyyli_id}}</p>
        <form method="post" action="{{base_path}}/elokuva/{{elokuva.id}}/destroy">
            <div class="col-md-12">
                <button type="submit" class="btn btn-danger">Poista elokuva</button>
        </form>  
        <a class="btn btn-default" href="{{base_path}}/elokuva/{{elokuva.id}}/muokkaus">Muokkaa</a>
        <a class="btn btn-primary" href="{{base_path}}/elokuva/{{elokuva.id}}/arvostelu">Lisää Arvostelu</a>
    </div>
</div>
<div class="row" style="width:50%">

    <h3> Arvostelut </h3>
</div>
    {% for arvostelu in arvostelut %}
    <div class="boxed" style="width:50%;border-style: groove">
    <a href="{{base_path}}/arvostelu/{{arvostelu.id}}" style="text-decoration: none">
        <p>{{arvostelu.kirjoittaja}}</p>
        <p> {{arvostelu.sisältö}}<p>

        <p> Arvosana: {{arvostelu.arvosana}}/5 </p>
    </a>
    </div>
    {% endfor %}




{% endblock %}